click==8.0.4
discord.py==2.2.3
flask==2.2.3
Flask-Login==0.6.0
Flask-Login==0.6.0
langchain==0.0.153
mistune==2.0.4
openai==0.27.4
pgvector==0.1.6
psycopg2-binary==2.9.6
python-dotenv==0.21.0
python-telegram-bot==20.2
SQLAlchemy==2.0.9
tiktoken==0.3.3
waitress==2.1.2